body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#Love{
    display: flex;
    background-image: url(showoff/top-banner.png);
    background-repeat: no-repeat;
}

.Love-Me{
    width: 50%;
    padding-left: 5%;
}

.link-color{
    color: orange;
}

.text-color{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    border-radius: 10px;
}

h1{
    font-size: 50px;
}

.Love-Me img{
    width: 100%;
}